<div class="row options-container">

    <div class="row row-primary m-auto">
        <div class="max-row  my-auto py-4">
            <!-- Default checked -->
            <div class="row ">
                <div class="col-md-8">
                    <div class="text-center custom-control custom-switch pb-2 pl-5">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" (click)="deleteOrAddDestinies()" [(ngModel)]="multipleDestinations">
                        <label class="custom-control-label text-light" for="customSwitch1"> Multiples destinos</label>
                    </div>
                </div>
            </div>
            <div class="row  px-4">
                <div class="col-md-5">
                    <div class="row pt-2" *ngFor="let fly of flights; let idx= index">
                        <div class="col-md-5">
                            <div ngbDropdown class="dropdown">
                                <button ngbDropdownToggle class="btn btn-light dropdown-toggle  dropdown-width" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{fly.origin}}
                                    </button>
                                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a *ngFor="let dest of destinations" class="dropdown-item show" (click)="setOrigin(idx,dest.name)">{{dest.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-5">
                            <div ngbDropdown class="dropdown dropdown-width">
                                <button ngbDropdownToggle class="btn btn-light dropdown-toggle dropdown-width " type="button " id="dropdownMenuButton " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                      {{fly.destiny}}
                                    </button>
                                <div ngbDropdownMenu class="dropdown-menu  " aria-labelledby="dropdownMenuButton ">
                                    <a *ngFor="let dest of destinations " class="dropdown-item show " (click)="setDestiny(idx,dest.name) ">{{dest.name}}</a>
                                </div>
                            </div>

                        </div>
                        <div *ngIf="idx!=0" class="col-md-2">
                            <img (click)="deleteDestiny(idx)" src="/assets/minus.png" class="img-btn" width="20px" height="20px">
                        </div>
                    </div>
                    <div *ngIf="multipleDestinations" class="pt-2 pl-2">
                        <img (click)="addDestinies()" src="/assets/plus.png" class="img-btn" placement="top" ngbTooltip="Agregar destino " width="20px" height="20px">
                    </div>
                </div>

                <div class="col-md-2 pt-2">
                    <div ngbDropdown class="dropdown ">
                        <button ngbDropdownToggle class="btn btn-light dropdown-toggle  dropdown-width" type="button " id="dropdownMenuButton " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                              {{internet}}
                            </button>
                        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownMenuButton ">
                            <a *ngFor="let int of internetVelocity " class="dropdown-item show " (click)="setInternet(int.velocidad) ">{{int.velocidad}}</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 pt-2">
                    <div ngbDropdown class="dropdown ">
                        <button ngbDropdownToggle class="btn btn-light dropdown-toggle  dropdown-width" type="button " id="dropdownMenuButton " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                              {{experience}}
                            </button>
                        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdownMenuButton ">
                            <a *ngFor="let exp of experiences " class="dropdown-item show " (click)="setExperience(exp.type) ">{{exp.type}}</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 p-2">
                    <div class="btn btn-primary">
                        Buscar Vuelos
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>