.options-container {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('/assets/avionFondo.jpg');
    width: 101% !important;
}

.row-primary {
    border-radius: 2em;
    height: auto;
    width: 90% !important;
    background-color: #15025e;
}

.color {
    color: #15025e;
}

.max-row {
    width: 100% !important;
}

.img-btn {
    cursor: pointer;
}

.dropdown-width {
    width: 100% !important;
}